langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langchain-huggingface
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
chromadb
pandas
ragas
pillow
matplotlib
seaborn
numpy
scikit-learn
plotly
sentence-transformers
torch